<div class="col-md-2" id="navigation-box">
    <div class="row justify-content-center d-none d-md-block">
        <div class="col-sm-10 my-2 mx-auto">
            <img src="/static/svg/shortLogo-dark.svg" alt="cuHacking-logo" class="figure-img img-fluid my-3" />
        </div>
    </div>
    <ul class="nav flex-md-column" id="navigation-links">

        <li class="nav-item">
            <a class="nav-link m-0 p-0" id="updates-link" href="/updates">
                <div class="row">
                    <div class="col-1 p-0 d-none d-md-block" id="active-box-updates"></div>
                    <div class="col-11">
                        <p class="mx-2 my-1" id="links34"><i class="fas fa-bullhorn mr-md-2"></i> Updates</p>
                    </div>
                </div>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link m-0 p-0" id="schedule-link" href="/schedule">
                <div class="row">
                    <div class="col-1 p-0 d-none d-md-block" id="active-box-schedule"></div>
                    <div class="col-11">
                        <p class="mx-2 my-1" id="links34"><i class="far fa-calendar mr-md-2"></i>Schedule</p>
                    </div>
                </div>
            </a>
        </li>

        <li class="nav-item show-challenge-link">
            <a class="nav-link m-0 p-0" id="challenge-link" href="/challenges">
                <div class="row">
                    <div class="col-1 p-0 d-none d-md-block" id="active-box-challenge"></div>
                    <div class="col-11">
                        <p class="mx-2 my-1 challenge-link" id="links34"><i class="fas fa-medal mr-md-2"></i> Challenges
                        </p>
                    </div>
                </div>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link m-0 p-0" id="map-link" href="/map">
                <div class="row">
                    <div class="col-1 p-0 d-none d-md-block" id="active-box-map"></div>
                    <div class="col-11">
                        <p class="mx-2 my-1" id="links34"><i class="far fa-map mr-md-2"></i> Map</p>
                    </div>
                </div>
            </a>
        </li>


        <li class="nav-item">
            <a class="nav-link m-0 p-0" id="info-link" href="/info">
                <div class="row">
                    <div class="col-1 p-0 d-none d-md-block" id="active-box-info"></div>
                    <div class="col-11">
                        <p class="mx-2 my-1" id="links34"><i class="fas fa-info-circle mr-md-2"></i> Info</p>
                    </div>
                </div>
            </a>
        </li>

        <hr style="border: 1px solid white; margin: 0 30px 20px 30px" class="d-none d-md-block">

        <li class="nav-item">
            <a class="nav-link m-0 p-0" id="profile-link" href="/profile">
                <div class="row">
                    <div class="col-1 p-0 d-none d-md-block" id="active-box-profile"></div>
                    <div class="col-11">
                        <p class="mx-2 my-1" id="links34"><i class="far fa-user mr-md-2"></i> Profile</p>
                    </div>
                </div>
            </a>
        </li>

    </ul>
</div>